/* Main container */
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background: linear-gradient(135deg, #1f1f1f, #3b3b3b); /* Subtle gradient */
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; /* For positioning child elements */
}

.home-header {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Logout button */
.home-logout-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.home-logout-btn:hover {
  transform: translateY(-2px);
}

/* Search section */
.home-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px); /* Adjust height to account for logout div */
  padding: 20px;
}

/* Username display */
.home-username {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Buttons container */
.home-buttons-container {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: center;
}

/* Buttons */
.home-new-research-btn,
.home-researches-btn {
  padding: 12px 20px;
  border: 1px solid #007bff; /* Matches button background */
  background-color: #007bff; /* Bright blue */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  width: 200px;
  height: 200px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-new-research-btn:hover,
.home-researches-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px);
}

@media screen and (max-height: 500px) {
  .home-main-content {
    height: 500px;
    overflow-y: auto; 
  }
}
