.lp-container {
  position: relative;
  margin: 10% auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  width: 350px;
}

/* Form section container */
.lp-container div {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.lp-container label {
  margin-bottom: 8px;
  font-size: 14px;
}

.lp-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}

.lp-search-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(25, 112, 112);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
}

.lp-container button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(25, 112, 112);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.lp-container button:hover {
  background: #ceafab;
  transform: translateY(3px);
}

.lp-header {
  position: absolute; 
  top: 20px;
  left: 20px;
  display: flex;
  gap: 30px; 
}

.lp-logout-btn,
.lp-home-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.lp-logout-btn:hover,
.lp-home-btn:hover {
  background-color: #0056b3;
}

.lp-log-details {
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
